
html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: antiquewhite;
}


header h1{
  text-align: center;
  font-size: 30px;
  color: rgb(44, 86, 141);
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 30px;
}

.card {
  background-color: rgb(44, 86, 141);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: auto;
  border: 1px solid antiquewhite;
  border-radius: 10px;
  padding-top: 30px;
}


.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: none;
  margin: 0px auto;
  margin-bottom: 20px;
}


.field {
  color: white;
  width: 100px;
  height: 100px;
  border: none;
  background-color: rgb(44, 86, 141);
  font-size: 70px;
  text-align: center;
  cursor: pointer;
  user-select: auto;
  outline: none;
  border-radius: 0px;
  border-bottom: 3px solid rgb(0, 4, 24);
  border-right: 3px solid rgb(0, 4, 24);
}


.field.no-r {
    border-right: none;
}

.field.no-b {
    border-bottom: none;
}

.field:hover {
  cursor: pointer;
}

.btn {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
}


.btn-p {
  width: 15em;
  height: 2.5em;
  margin: 1em 1em 1em 1em;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.select {
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}






.Restart {
  width: 100%;
  margin: auto;
}

.restart-button {
  width: 100%;
  height: 3em;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  background-color:whitesmoke;
  color: rgba(0, 0, 0, 0.87);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.restart-button:hover{
  background-color: rgba(11, 150, 11, 0.808);
  color: whitesmoke;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: block;
}

.modal{
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s ease-in-out;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.x{
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: none;
  font-weight: 900;
  color: white;
  display: block;
}

.o{
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: none;
  font-weight: 900;
  color: white;
  display: block;
}



.draw{
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: none;
  font-weight: 900;
  color: white;
  display: block;
}



.footer {
  font-weight: 300;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  color: rgba(8, 17, 29, 0.795);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fa-github {
  font-size: 20px;
  color: rgba(8, 17, 29, 0.795);
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

@media (max-width: 600px) {
  .field{
    width: 60px;
    height: 60px;
    font-size: 40px;
  }

 
  .restart-button{
    font-size: 12px;
  }
}



